/* PokemonInfo */
.pokemonInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
    background: white;
    border-radius: 10px;
}

.pokemonInfoDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

/* .unitInfo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.unitInfo span {
    color: grey;
    font-weight: bolder;
    text-transform: capitalize;
}

.unitInfo:nth-child(1) {
    justify-content: center;
    border-bottom: none;
}

.unitInfo:nth-child(1) span {
    justify-content: center;
    color: white;
    text-transform: uppercase;
}

.unitInfo:nth-child(7),
.unitInfo:nth-child(8) {
    flex-direction: column;
    align-items: flex-start;
}

.unitInfo:nth-child(8) {
    width: 100%;
    gap: 10px;
    padding-bottom: 10px;
}

.pokemonStats {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 22px;
    border-top: 1px solid rgb(202, 198, 198);
}

.statsBaseName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16%;
    text-transform: uppercase;
}

.statsBaseName span {
    text-transform: uppercase;
}

.statBar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #737373;
    height: 20px;
    color: black;
    font-weight: bolder;
}

.emptyStatBar {
    flex-grow: 1;
    background: #dbd3d3;
    border-radius: 20px;
} */

/* PokemonInfo */
