.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding-bottom: 10px;
}

.pokedexRegionMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
}

.pokedexRegionMenu select {
    text-align: center;
    width: 220px;
    height: 40px;
    cursor: pointer;
    background: orange;
    color: white;
    font-size: medium;
}

.loadingContent {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
