.PokemonSprite {
    width: 300px;
    width: 177px;
    object-fit: contain;
}

@media only screen and (min-width: 1600px) {
    .PokemonSprite {
        width: 300px;
        width: 300px;
    }
}

@media only screen and (max-width: 1599px) {
    .PokemonSprite {
        width: 200px;
        width: 200px;
    }
}

@media (max-width: 639px) {
    .PokemonSprite {
        width: 96px;
        width: 96px;
    }
}
