.pokedexContainer {
    display: grid;
    width: 90%;
    max-width: 90%;
    position: relative;
    padding-top: 40px;
    gap: 20px;
    min-height: 100vh;
}

.pokedexTitle {
    font-family: "Montserrat, sansSerif";
    color: black;
}

.notGrid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 20px;
    position: relative;
}

.mainPokemonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Fira Sans", "Trebuchet MS", Ubuntu, Helvetica, Arial sans-serif;
    font-weight: bold;
    line-height: 1.2;
    transition: transform 0.1s;
    text-transform: capitalize;
    padding: 10px;
}

.mainPokemonContainer:hover {
    transform: scale(1.1);
}

.pokemonContainer {
    height: 300px;
    width: 167px;
}

.pokeballChangeSprites {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.pokeballChangeSprites:hover {
    transform: scale(1.5);
}
.resetPokedex {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

.resetPokedex:hover {
    transform: scale(1.5);
}

.pokemonIconsContainer {
    height: 300px;
    width: 167px;
    border: 5px solid rgb(14, 14, 14);
}

.pokemonIconsContainer img {
    object-fit: contain;
}

.upTopIcon {
    position: fixed;
    right: 2vw;
    bottom: 10vh;
    cursor: pointer;
    transition: transform 0.1s;
}

.upTopIcon:hover {
    transform: scale(1.2);
}

/* Responsiviness */

@media only screen and (min-width: 1600px) {
    .pokedexContainer {
        grid-template-columns: repeat(6, 1fr);
    }

    .pokemonContainer {
        height: 400px;
        width: 220px;
    }

    .pokemonIconsContainer {
        height: 400px;
        width: 220px;
    }
}

@media only screen and (max-width: 1599px) {
    .pokedexContainer {
        grid-template-columns: repeat(5, 1fr);
    }

    .pokemonContainer {
        height: 300px;
        width: 177px;
    }

    .pokemonIconsContainer {
        height: 300px;
        width: 177px;
    }
}

@media (max-width: 1071px) {
    .pokedexContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 821px) {
    .pokedexContainer {
        grid-template-columns: repeat(3, 1fr);
    }
    .notGrid {
        flex-wrap: wrap;
    }
}

@media (max-width: 639px) {
    .pokedexContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .pokemonContainer {
        height: 210px;
        width: 167px;
    }

    .pokemonIconsContainer {
        height: 210px;
        width: 167px;
    }
}
