.pokedexContainer {
    display: grid;
    width: 90%;
    max-width: 90%;
    gap: 20px;
    min-height: 80vh;
    position: relative;
    padding-top: 40px;
}

.pokedexTitle {
    font-family: "Montserrat, sansSerif";
    margin-bottom: "10px";
}

.notGrid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56vh;
    padding-top: 20px;
    gap: 20px;
    position: relative;
}

.mainPokemonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Fira Sans", "Trebuchet MS", Ubuntu, Helvetica, Arial sans-serif;
    font-weight: bold;
    line-height: 1.2;
    transition: transform 0.1s;
    padding: 10px;
}

.mainPokemonContainer:hover {
    transform: scale(1.1);
}

.pokemonContainer {
    height: 300px;
    width: 167px;
    border: 5px solid rgb(14, 14, 14);
}

.pokeballChangeSprites {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.pokeballChangeSprites:hover {
    transform: scale(1.5);
}

.pokemonIconsContainer {
    height: 300px;
    width: 167px;
    border: 5px solid rgb(14, 14, 14);
}

.pokemonIconsContainer img {
    object-fit: contain;
}

/* Responsiviness */

@media only screen and (min-width: 1600px) {
    .pokedexContainer {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media only screen and (max-width: 1599px) {
    .pokedexContainer {
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }
}

@media (max-width: 1071px) {
    .pokedexContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 821px) {
    .pokedexContainer {
        grid-template-columns: repeat(3, 1fr);
    }
    .notGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 639px) {
    .pokedexContainer {
        grid-template-columns: repeat(2, 1fr);
    }
    .notGrid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}
