.spritesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.spritesContainerHeader {
    display: flex;
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: #fff;
    line-height: 32px;
    font-size: 24px;
    font-weight: bolder;
    font-family: "Poppins";
    font-style: normal;
}

.spritesContainerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 267px;
}

.pokemonImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s;
    cursor: pointer;
}

.pokemonImg:hover {
    transform: scale(1.1);
}

.spritesContainerFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
}

.showFormsButton {
    padding: 6px 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.1s;
}

.showFormsButton:hover {
    transform: scale(1.1);
}

.spritesContainer select {
    text-align: center;
    transition: transform 0.1s;
    padding: 6px 0;
    cursor: pointer;
    border-radius: 6px;
    text-transform: capitalize;
}

.spritesContainer select:hover {
    transform: scale(1.1);
}

.genderIcons {
    display: flex;
}

.genderIcons div {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.1s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
}

.genderMessage {
    background: #2d3636;
    text-align: center;
    font-weight: 900;
    color: #fff;
    position: absolute;
    border-radius: 20px;
    top: 0;
    padding: 10px;
}

.pokeballBackGround {
    object-fit: contain;
    opacity: 0.5;
}

.genderIcons button {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
}

.genderIcons button:disabled {
    background: none;
    fill: white;
}

.genderIcons button:enabled {
    background: none;
    fill: black;
}

.femaleButton {
    background-image: url("../../../assets/femaleIcon.svg");
}
.maleButton {
    background-image: url("../../../assets/maleIcon.svg");
}

.genderIcons button:hover {
    transform: scale(1.1);
}

/* Responsiviness */
@media only screen and (min-width: 1600px) {
    .pokemonImg {
        width: 320px;
        height: 320px;
    }

    .pokeballBackGround {
        width: 220px;
        height: 220px;
    }
}

@media only screen and (max-width: 1599px) {
    .pokemonImg {
        width: 250px;
        height: 250px;
    }

    .pokeballBackGround {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 639px) {
    .pokemonImg {
        width: 200px;
        height: 200px;
    }

    .pokeballBackGround {
        width: 100px;
        height: 100px;
    }
}
