header {
    width: 100vw;
    height: 20vh;
    background: linear-gradient(rgba(128, 128, 128, 3), rgb(87, 81, 81));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

header input {
    width: 30%;
    height: 30%;
    border-radius: 30px;
    padding-left: 20px;
    font-size: medium;
    font-weight: bolder;
}

.searchIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 62%;
    cursor: pointer;
}

.focusMessage {
    position: absolute;
    background: white;
    border-radius: 10px;
    top: 0;
    padding: 0 10px;
    font-weight: bold;
}

.logoIcon {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 5%;
}

/* Responsiviness */
@media (max-width: 1071px) {
    .searchIcon {
        display: none;
    }
}
@media (max-width: 821px) {
    .logoIcon {
        display: none;
    }

    header input {
        width: 50vw;
    }
}
