header {
    width: 100vw;
    max-width: 100vw;
    height: 20vh;
    max-height: 20vh;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.7) 50%, rgb(253, 253, 253) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

header input {
    width: 30%;
    height: 30%;
    border-radius: 30px;
    padding-left: 20px;
    font-size: medium;
    font-weight: bolder;
}

.focusMessage {
    position: absolute;
    background: rgb(255, 249, 249);
    border-radius: 10px;
    top: 0;
    padding: 0 10px;
    font-weight: bold;
}

.logoIcon {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 5%;
}

/* Responsiviness */
@media (max-width: 1071px) {
    .searchIcon {
        display: none;
    }
}
@media (max-width: 821px) {
    .logoIcon {
        display: none;
    }

    header input {
        width: 50vw;
    }
}
