.headerContainer {
    width: 100%;
    height: 16vh;
    max-height: 16vh;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.7) 50%, rgb(253, 253, 253) 50%);
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.headerContainer input {
    width: 30%;
    height: 28%;
    border-radius: 30px;
    padding-left: 20px;
    font-size: medium;
    font-weight: bolder;
    position: absolute;
    left: 10%;
}

.focusMessage {
    position: absolute;
    background: rgb(255, 249, 249);
    border-radius: 10px;
    bottom: 10%;
    left: 10%;
    padding: 0 14px;
    font-weight: bold;
}

.logoIcon {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 5%;
}

/* Responsiviness */
@media (min-width: 1600px) {
    .headerContainer input {
        font-size: larger;
    }

    .focusMessage {
        font-size: larger;
    }
}

@media (max-width: 1599px) {
    .headerContainer input {
        font-size: small;
    }

    .focusMessage {
        font-size: small;
    }
}

@media (max-width: 500px) {
    .headerContainer {
        height: 10vh;
    }

    .logoIcon {
        width: 50px;
        height: 50px;
    }

    .focusMessage {
        font-size: small;
    }

    .headerContainer input {
        font-size: small;
        padding-left: 0;
    }
}
