.color-normal {
    color: #aaa67f;
}

.color-fire {
    color: #f57d31;
}

.color-water {
    color: #6493eb;
}

.color-electric {
    color: #f9cf30;
}

.color-grass {
    color: #74cb48;
}

.color-ice {
    color: #9ad6df;
}

.color-fighting {
    color: #c12239;
}

.color-poison {
    color: #a43e9e;
}

.color-ground {
    color: #dec16b;
}

.color-flying {
    color: #a891ec;
}

.color-psychic {
    color: #fb5584;
}

.color-bug {
    color: #a7b723;
}

.color-rock {
    color: #b69e31;
}

.color-ghost {
    color: #70559b;
}

.color-dragon {
    color: #7037ff;
}

.color-dark {
    color: #75574c;
}

.color-steel {
    color: #b7b9d0;
}

.color-fairy {
    color: #e69eac;
}
