.normal {
    background: #aaa67f;
}

.fire {
    background: #f57d31;
}

.water {
    background: #6493eb;
}

.electric {
    background: #f9cf30;
}

.grass {
    background: #74cb48;
}

.ice {
    background: #9ad6df;
}

.fighting {
    background: #c12239;
}

.poison {
    background: #a43e9e;
}

.ground {
    background: #dec16b;
}

.flying {
    background: #a891ec;
}

.psychic {
    background: #fb5584;
}

.bug {
    background: #a7b723;
}

.rock {
    background: #b69e31;
}

.ghost {
    background: #70559b;
}

.dragon {
    background: #7037ff;
}

.dark {
    background: #75574c;
}

.steel {
    background: #b7b9d0;
}

.fairy {
    background: #e69eac;
}

.low {
    background: #ff7f0f;
}

.medium {
    background: #ffdd57;
}

.high {
    background: #a0e515;
}

.higher {
    background: #00c2b8;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
