.background-normal {
    background: #aaa67f;
}

.background-fire {
    background: #f57d31;
}

.background-water {
    background: #6493eb;
}

.background-electric {
    background: #f9cf30;
}

.background-grass {
    background: #74cb48;
}

.background-ice {
    background: #9ad6df;
}

.background-fighting {
    background: #c12239;
}

.background-poison {
    background: #a43e9e;
}

.background-ground {
    background: #dec16b;
}

.background-flying {
    background: #a891ec;
}

.background-psychic {
    background: #fb5584;
}

.background-bug {
    background: #a7b723;
}

.background-rock {
    background: #b69e31;
}

.background-ghost {
    background: #70559b;
}

.background-dragon {
    background: #7037ff;
}

.background-dark {
    background: #75574c;
}

.background-steel {
    background: #b7b9d0;
}

.background-fairy {
    background: #e69eac;
}

.low {
    background: #ff7f0f;
}

.medium {
    background: #ffdd57;
}

.high {
    background: #a0e515;
}

.higher {
    background: #00c2b8;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
