.outerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.innerContainer {
    overflow-y: auto;
    overflow-x: hidden;
    height: 90vh;
    width: 40%;
    border-radius: 10px;
}

.contentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    min-height: 90vh;
}

/* Scrollbar */
.innerContainer::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: crimson;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: gold;
}

/* Scrollbar */

/* Conditional div when loading content */
.contentLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    background: white;
    width: 40%;
    max-width: 42%;
    height: 75vh;
}

.contentLoading img {
    width: 120px;
    height: 120px;
}

/* Conditional div when loading content */

/* Button to close modal */

.closeModalContainer {
    position: absolute;
    right: 5vw;
    top: 10vh;
    cursor: pointer;
}

.closeModalContainer span {
    position: absolute;
    left: -25%;
    top: -65%;
    background: white;
    font-weight: bolder;
    border-radius: 10px;
    width: 150%;
}

.closeModalImg {
    width: 75px;
    transition: transform 0.3s;
}

.closeModalImg:hover {
    transform: scale(1.5);
}

/* Button to close modal */

/* Responsiviness */
@media only screen and (max-width: 689px) {
    .innerContainer {
        width: 100%;
        position: absolute;
        top: 16vh;
    }

    .closeModalContainer {
        top: 0;
        right: 12vw;
    }

    .closeModalContainer span {
        top: 10vh;
        padding: 0 2px;
    }
}
